<%-include('nav.ejs');-%>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>SignUp/LogIn</title>
</head>
<body>
    <section class="vh-100" style="background-color: #555;">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <class class="container h-100">
                <div class="reow d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px; ">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Log into your account</h2>
                                <form action="/log" method="post">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" id="form3Example1cg" class="form-control form-control-lg"/>
                                        <label class="form-label" for="form3Example1cg">your Name</label>
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" id="form3Example1cg" class="form-control form-control-lg"/>
                                        <label class="form-label" for="form3Example1cg">Email</label>
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" id="form3Example1cg" class="form-control form-control-lg"/>
                                        <label class="form-label" for="form3Example1cg">Password</label>
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4"></div>
                                        <input type="text" id="form3Example1cg" class="form-control form-control-lg"/>
                                        <label class="form-label" for="form3Example1cg">confirm Password</label>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </class>
        </div>
    </section>

            
        </div>
    </section>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>