<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light p-5">
        <a class="navbar-brand col col-md-1" href="#">Beeping</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNav" class="collapse navbar-collapse">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" id="home" href="#home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#category">CATEGORY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">CONTACT</a>
                </li>
            </ul>
            <form class="d-flex ms-auto" role="search">
                <input class="form-control me-2" type="search" placeholder="Enter text" aria-label="Search" id="text-form">
                <button class="btn btn-outline-dark" type="submit" id="text-search">
                    <i class="bi bi-search"></i>
                </button>
            </form>
            <li class="nav-item">
                <a class="nav-link" href="#" id="cart-icon">
                    <i class="bi bi-cart3"></i> Cart (<span id="cart-count">0</span>)
                </a>
            </li>
        </div>
    </nav>
    
</body>
</html>